In [95]:
one="flower_data.xlsx"
two="input_data_final.xlsx"
three="Natural language processing_data.xlsx"
four="world war 1_data.xlsx"
five="World War II_data.xlsx"
six="World War II_data.xlsx"

#Files Created with the preprecocessing pipeline

In [47]:
import pandas as pd
import numpy as np
import pickle
import xgboost
import sklearn
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.model_selection import train_test_split

In [6]:
df=pd.read_excel(one)

In [8]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [9]:
df

,lines,char_length,no_of_words,index_,caps,space,next_char,next_words,next_next_char,next_next_words,next_caps,prev_char,prev_words,prev_prev_char,prev_prev_words,label,label2
0,Symphyotrichum lateriflorum,27,2,0,0.037037,1,0,0,37,5,0.000000,0,0,0,0,1,0
1,NaN,0,0,1,0.000000,0,37,5,0,0,0.054054,27,2,0,0,0,0
2,"From Wikipedia, the free encyclopedia",37,5,2,0.054054,2,0,0,32,5,0.000000,0,0,27,2,0,0
3,NaN,0,0,3,0.000000,0,32,5,0,0,0.062500,37,5,0,0,0,0
4,Jump to navigationJump to search,32,5,4,0.062500,2,0,0,27,2,0.000000,0,0,37,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
573,'Prince Charming' is listed as a cultivar of S...,249,42,573,0.052209,2,0,0,208,33,0.000000,0,0,148,26,0,0
574,NaN,0,0,574,0.000000,0,208,33,0,0,0.048077,249,42,0,0,0,0
575,'Rubrifolius' was last listed in the 2001 RHS ...,208,33,575,0.048077,2,0,0,312,53,0.000000,0,0,249,42,0,0
576,NaN,0,0,576,0.000000,0,312,53,0,0,0.038462,208,33,0,0,0,0
577,'Valentin' is described in the Dutch magazine ...,312,53,577,0.038462,1,0,0,0,0,0.000000,0,0,208,33,0,0

In [10]:
df2=pd.read_excel(two)

In [12]:
df2['label2']=0
df2.drop("Unnamed: 0",axis=1,inplace=True)

In [14]:
df3=pd.read_excel(three)

In [16]:
df3.drop("Unnamed: 0",axis=1,inplace=True)

In [17]:
df4=pd.read_excel(four)
df4.drop("Unnamed: 0",axis=1,inplace=True)

In [18]:
df5=pd.read_excel(five)
df5.drop("Unnamed: 0",axis=1,inplace=True)

In [97]:
df6=pd.read_excel(six)
df6.drop("Unnamed: 0",axis=1,inplace=True)

In [19]:
df5

,lines,char_length,no_of_words,index_,caps,space,next_char,next_words,next_next_char,next_next_words,next_caps,prev_char,prev_words,prev_prev_char,prev_prev_words,label,label2
0,World War II,12,3,0,0.333333,1,0,0,37,5,0.000000,0,0,0,0,0,0
1,NaN,0,0,1,0.000000,0,37,5,0,0,0.054054,12,3,0,0,0,0
2,"From Wikipedia, the free encyclopedia",37,5,2,0.054054,2,0,0,32,5,0.000000,0,0,12,3,0,0
3,NaN,0,0,3,0.000000,0,32,5,0,0,0.062500,37,5,0,0,0,0
4,Jump to navigationJump to search,32,5,4,0.062500,2,0,0,165,24,0.000000,0,0,37,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,Nuclear Gadget being raised to the top of the ...,143,23,825,0.062937,2,0,0,782,112,0.000000,0,0,0,0,0,0
826,NaN,0,0,826,0.000000,0,782,112,0,0,0.033248,143,23,0,0,0,0
827,Most major belligerents attempted to solve the...,782,112,827,0.033248,2,0,0,496,68,0.000000,0,0,143,23,0,0
828,NaN,0,0,828,0.000000,0,496,68,0,0,0.028226,782,112,0,0,0,0
829,Other technological and engineering feats achi...,496,68,829,0.028226,1,0,0,0,0,0.000000,0,0,782,112,0,0

In [25]:
df5

,lines,char_length,no_of_words,index_,caps,space,next_char,next_words,next_next_char,next_next_words,next_caps,prev_char,prev_words,prev_prev_char,prev_prev_words,label,label2
0,World War II,12,3,0,0.333333,1,0,0,37,5,0.000000,0,0,0,0,0,0
1,NaN,0,0,1,0.000000,0,37,5,0,0,0.054054,12,3,0,0,0,0
2,"From Wikipedia, the free encyclopedia",37,5,2,0.054054,2,0,0,32,5,0.000000,0,0,12,3,0,0
3,NaN,0,0,3,0.000000,0,32,5,0,0,0.062500,37,5,0,0,0,0
4,Jump to navigationJump to search,32,5,4,0.062500,2,0,0,165,24,0.000000,0,0,37,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,Nuclear Gadget being raised to the top of the ...,143,23,825,0.062937,2,0,0,782,112,0.000000,0,0,0,0,0,0
826,NaN,0,0,826,0.000000,0,782,112,0,0,0.033248,143,23,0,0,0,0
827,Most major belligerents attempted to solve the...,782,112,827,0.033248,2,0,0,496,68,0.000000,0,0,143,23,0,0
828,NaN,0,0,828,0.000000,0,496,68,0,0,0.028226,782,112,0,0,0,0
829,Other technological and engineering feats achi...,496,68,829,0.028226,1,0,0,0,0,0.000000,0,0,782,112,0,0

In [101]:
df6["char_length"]=df6["lines"].apply(lambda x:len(str(x)))

In [98]:
df6

,lines,no_of_words,index_,caps,space,next_char,next_words,next_next_char,next_next_words,next_caps,prev_char,prev_words,prev_prev_char,prev_prev_words,label,label2
0,World War II,3,0,0.333333,1,0,0,37,5,0.000000,0,0,0,0,1,0
1,NaN,0,1,0.000000,0,37,5,0,0,0.054054,12,3,0,0,0,0
2,"From Wikipedia, the free encyclopedia",5,2,0.054054,2,0,0,32,5,0.000000,0,0,12,3,0,0
3,NaN,0,3,0.000000,0,32,5,0,0,0.062500,37,5,0,0,0,0
4,Jump to navigationJump to search,5,4,0.062500,2,0,0,165,24,0.000000,0,0,37,5,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,Nuclear Gadget being raised to the top of the ...,23,825,0.062937,2,0,0,782,112,0.000000,0,0,0,0,0,0
826,NaN,0,826,0.000000,0,782,112,0,0,0.033248,143,23,0,0,0,0
827,Most major belligerents attempted to solve the...,112,827,0.033248,2,0,0,496,68,0.000000,0,0,143,23,0,0
828,NaN,0,828,0.000000,0,496,68,0,0,0.028226,782,112,0,0,0,0
829,Other technological and engineering feats achi...,68,829,0.028226,1,0,0,0,0,0.000000,0,0,782,112,0,0

In [102]:
final_df=pd.concat([df,df2,df3,df4,df5,df6])

In [103]:
final_df.reset_index(inplace=True)

In [104]:
final_df

,index,lines,char_length,no_of_words,index_,caps,space,next_char,next_words,next_next_char,next_next_words,next_caps,prev_char,prev_words,prev_prev_char,prev_prev_words,label,label2
0,0,Symphyotrichum lateriflorum,27,2,0,0.037037,1,0,0,37,5,0.000000,0,0,0,0,1.0,0.0
1,1,NaN,0,0,1,0.000000,0,37,5,0,0,0.054054,27,2,0,0,0.0,0.0
2,2,"From Wikipedia, the free encyclopedia",37,5,2,0.054054,2,0,0,32,5,0.000000,0,0,27,2,0.0,0.0
3,3,NaN,0,0,3,0.000000,0,32,5,0,0,0.062500,37,5,0,0,0.0,0.0
4,4,Jump to navigationJump to search,32,5,4,0.062500,2,0,0,27,2,0.000000,0,0,37,5,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4814,825,Nuclear Gadget being raised to the top of the ...,143,23,825,0.062937,2,0,0,782,112,0.000000,0,0,0,0,0.0,0.0
4815,826,NaN,3,0,826,0.000000,0,782,112,0,0,0.033248,143,23,0,0,0.0,0.0
4816,827,Most major belligerents attempted to solve the...,782,112,827,0.033248,2,0,0,496,68,0.000000,0,0,143,23,0.0,0.0
4817,828,NaN,3,0,828,0.000000,0,496,68,0,0,0.028226,782,112,0,0,0.0,0.0
4818,829,Other technological and engineering feats achi...,496,68,829,0.028226,1,0,0,0,0,0.000000,0,0,782,112,0.0,0.0

In [109]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4819 entries, 0 to 4818
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   index            4819 non-null   int64
 1   lines            2640 non-null   object
 2   char_length      4819 non-null   int64
 3   no_of_words      4819 non-null   int64
 4   index_           4819 non-null   int64
 5   caps             4819 non-null   float64
 6   space            4819 non-null   int64
 7   next_char        4819 non-null   int64
 8   next_words       4819 non-null   int64
 9   next_next_char   4819 non-null   int64
 10  next_next_words  4819 non-null   int64
 11  next_caps        4819 non-null   float64
 12  prev_char        4819 non-null   int64
 13  prev_words       4819 non-null   int64
 14  prev_prev_char   4819 non-null   int64
 15  prev_prev_words  4819 non-null   int64
 16  label            4818 non-null   float64
 17  label2           4818 non-null   float64
dtypes: float64(4), int64(13), object(1)
memory usage: 677.8+ KB

In [110]:
final_=final_df.dropna()

In [111]:
final_.reset_index(inplace=True)

In [112]:
final_["label"].value_counts()

0.0    2411
1.0     228
Name: label, dtype: int64

In [115]:
final_.head()

,level_0,index,lines,char_length,no_of_words,index_,caps,space,next_char,next_words,next_next_char,next_next_words,next_caps,prev_char,prev_words,prev_prev_char,prev_prev_words,label,label2
0,0,0,Symphyotrichum lateriflorum,27,2,0,0.037037,1,0,0,37,5,0.0,0,0,0,0,1.0,0.0
1,2,2,"From Wikipedia, the free encyclopedia",37,5,2,0.054054,2,0,0,32,5,0.0,0,0,27,2,0.0,0.0
2,4,4,Jump to navigationJump to search,32,5,4,0.062500,2,0,0,27,2,0.0,0,0,37,5,0.0,0.0
3,6,6,Symphyotrichum lateriflorum,27,2,6,0.037037,2,0,0,0,0,0.0,0,0,32,5,0.0,0.0
4,10,10,Conservation status,19,2,10,0.052632,2,0,0,0,0,0.0,0,0,0,0,0.0,0.0

In [116]:
used=['char_length', 'no_of_words',
       'caps', 'space', 'next_char', 'next_words', 'next_next_char',
       'next_next_words', 'next_caps', 'prev_char', 'prev_words',
       'prev_prev_char', 'prev_prev_words']

In [119]:
 X_train, X_test, y_train, y_test = train_test_split(final_[used], final_['label'], test_size=0.2, random_state=42,stratify=final_['label'])

In [120]:
y_train.value_counts()

0.0    1929
1.0     182
Name: label, dtype: int64

In [ ]:

xgb=XGBClassifier()

for mod in [xgb]:
    mod.fit(X_train,y_train)
    pred=mod.predict(X_test)
    print(classification_report(y_test,pred))
    
# 71 percent F1 Score on heading.

In [ ]:
title=final_[final_["label"]==1].sample(n=600,random_state=42,replace=True)
section=final_[final_["label"]==0]
data =pd.concat([title,section])

In [128]:
xgb=XGBClassifier()
xgb.fit(data[used],data['label'])

XGBClassifier()

In [130]:
pred=xgb.predict(data[used])
print(classification_report(data['label'],pred))

              precision    recall  f1-score   support

         0.0       0.97      0.98      0.97      2411
         1.0       0.90      0.89      0.89       600

    accuracy                           0.96      3011
   macro avg       0.94      0.93      0.93      3011
weighted avg       0.96      0.96      0.96      3011

In [141]:
with open('model_pkl', 'wb') as files:
    pickle.dump(xgb, files)

In [142]:
xgb.save_model('astra_model.bin')